@media only screen and (max-width: 992px) {
  .type-container {
    display: none;
  }
}

.type-container {

  height: 523px;
}

.type-container > div {
  height: 100%;
  width: 805px;
  margin-left: 141px;
}

.type-container .type {
  border: 1px solid #ffb0b0;
  border-top: none;
  height: 100%;
}

.type-container .type a {
  color: #333333 !important;
  font-size: 13px;
  margin-right: 2px;
  width: 30px;
  height: 32px;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  display: inline-block;
}

.type-container .type a:hover {
  color: red !important;
}

.type-container .detail-type {
  background-color: #FFFFFF;
  height: 100%;
  border: 1px solid #ffb5b0;
  /*border-top: none;*/
  overflow: hidden;
  width: 669px;
}

.type-container .type > ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(230, 197, 197, 0.33);

}

.type-container .type > ul > li {
  padding-left: 3px;
  width: 100%;
  flex: 1;
  /*background-color: #FFFFFF;*/
  text-align: left;
  height: 100%;
  line-height: 32px;
  overflow: hidden;
}

.detail-type {
  padding: 15px;

}

.detail-type > ul:last-child {
  margin-top: 20px;
}

.detail-type > ul > li {
  height: 130px;
  text-align: left;
}




.detail-type > ul > li  div a {
  margin-right: 15px;
  overflow: hidden;
}

.detail-type > ul > li > a > a {
  color: #757575 !important;
  font-size: 14px;

}

.detail-type > ul > li > a > a:hover {
  color: red !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 3.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.nav-type{
  height: 30px;
  display: flex;
  flex-direction: row;
}
.nav-type li{
  width: 60px!important;
  height: 25px!important;
  line-height: 25px;
  margin-right: 20px;
  padding-left: 6px;
  background: #ff5159;
}
.nav-type li a,span{
  color: whitesmoke!important;
  font-size: 12px!important;
  font-weight: 200!important;
}
.nav-type li span{
}
.type .row>li{
  cursor: pointer;
  color: white;
}
.type .row>li:hover{
  background-color: white;
  border-right: none;
  color: black;
}


